@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200%3b0,300%3b0,400%3b0,500%3b0,600%3b0,700%3b0,800%3b0,900%3b1,200%3b1,300%3b1,400%3b1,500%3b1,600%3b1,700%3b1,800%3b1,900&display=swap");
body {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  justify-content: space-between;
  display: flex;
  height: 80px;
  box-sizing: border-box;
  padding: 20px 165px;
  border-bottom: 1px solid #edeef2;
}
header .navbar1 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
header .navbar1 .img-hed {
  width: 100px;
  height: 45px;
}
header .navbar1 .input-wrapper {
  position: relative;
  margin-left: 48.6px;
}
header .navbar1 .input-wrapper input {
  box-sizing: border-box;
  background: #edeef2;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  padding: 12px 10px;
  width: 224px;
  height: 40px;
}
header .navbar1 .input-wrapper:after {
  content: "";
  display: block;
  background: url("../img/search.svg") no-repeat top right;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 12px;
  right: 12px;
}
header .navbar2 {
  display: flex;
  align-items: center;
}
header .navbar2 nav ul {
  display: flex;
  list-style-type: none;
}
header .navbar2 nav ul li {
  padding-right: 20px;
}
header .navbar2 nav ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: right;
  color: #2b2b43;
}
header .navbar2 nav ul li.separate {
  color: #EDEEF2;
}
header .navbar2 .pedidos,
header .navbar2 .avatar {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-left: 15px;
  background: #f3f4ff;
}

header .navbar2 .nav-separate {
  display: none;
  margin: 16px;
  height: 32px;
  width: 1px;
  background-color: #EDEEF2;
}

header .navbar2 .menu-mobile {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 16px;
  background: #EDEEF2
}

.pedidos .bag {
  position: absolute;
  top: 15px;
  left: 14px;
}
.pedidos .number-ped {
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 7px;
  line-height: 14px;
  background-color: #4e60ff;
  text-align: center;
  color: #fff;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  padding: 1px;
  align-items: center;
  justify-content: center;
}

.avatar {
  box-sizing: border-box;
  border: 2px solid #4e60ff;
}
.avatar img {
  width: 42px;
  height: 42px;
  border-radius: 14px;
  border: 1px solid #fff;
}

#container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 24px 165px;
}
#container .img-cont1 .text1, #container .img-cont2 .text1 {
  box-sizing: border-box;
  width: 50%;
  padding: 16px;
}
#container .img-cont1 .text1 .p1, #container .img-cont2 .text1 .p1 {
  color: #2b2b43;
  font-size: 20px;
  font-weight: 600;
  line-height: 4px;
  letter-spacing: 0.1px;
}
#container .img-cont1 .text1 .p3, #container .img-cont2 .text1 .p3 {
  color: #83859c;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
}
#container > .img-cont1 {
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #f3f4ff;
  width: 540px;
  height: 188px;
  border-radius: 16px;
}
#container > .img-cont1 .img1 {
  box-sizing: border-box;
  width: 50%;
}
#container > .img-cont1 .text1 .p-offers > .p2 {
  color: #4e60ff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 0.1px;
}
#container > .img-cont2 {
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #fff3ed;
  width: 540px;
  height: 188px;
  border-radius: 16px;
}
#container > .img-cont2 .img2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  box-sizing: border-box;
  width: 50%;
}
#container > .img-cont2 .text1 .p-offers2 > .p5 {
  color: #fd6d22;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 0.1px;
}

#menu {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 165px;
}
#menu .menu-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 80px;
  border: 1px solid #edeef2;
  border-radius: 16px;
  box-sizing: border-box;
}
#menu .menu-food:hover {
  background: #f3f4ff;
  color: #4e60ff;
  border: 2px solid #4e60ff;
  box-sizing: border-box;
  border-radius: 16px;
}
#menu .menu-food img {
  display: flex;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

h1 {
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #2b2b43;
  font-size: 20px;
  line-height: 28px;
  padding: 16px 165px;
}

#restaurants {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 165px;
  margin: 40px 0px;
}
#restaurants .restaurants-cont1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 352px;
  height: 276px;
  border: 1px solid #edeef2;
  border-radius: 16px;
}
#restaurants .restaurants-cont1 .restaurants-img1 {
  position: relative;
  height: 55%;
}
#restaurants .restaurants-cont1 .restaurants-img1 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#restaurants .restaurants-cont1 .restaurants-img1 > .featured {
  position: absolute;
  width: 94px;
  height: 32px;
  right: 0px;
  top: 0px;
  background: #4E60FF;
  color: #fff;
  border-radius: 0px 16px;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.6px;
}
#restaurants .restaurants-cont1 .restaurants-text1 {
  height: 40%;
  padding: 10px;
}
#restaurants .restaurants-cont1 .restaurants-text1 .restaurants-title {
  position: relative;
}
#restaurants .restaurants-cont1 .restaurants-text1 .restaurants-title > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #2b2b43;
}
#restaurants .restaurants-cont1 .restaurants-text1 .restaurants-title > img {
  position: absolute;
  top: 1px;
  right: 3px;
}
#restaurants .restaurants-cont1 .restaurants-text1 .restaurants-title > .number-order {
  position: absolute;
  width: 16px;
  height: 14px;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #4E60FF;
  top: -9px;
  right: -3px;
  padding: 1px;
  border-radius: 6px;
}
#restaurants .restaurants-cont1 .restaurants-text1 .price1 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #83859c;
}
#restaurants .restaurants-cont1 .restaurants-text1 .food1 {
  position: relative;
  background: #edeef2;
  box-sizing: border-box;
  padding: 3px 25px;
  width: 70px;
  height: 24px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
}
#restaurants .restaurants-cont1 .restaurants-text1 .food1 > p {
  position: absolute;
  top: -8px;
}
#restaurants .restaurants-cont1 .restaurants-text1 .food1 > img {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 8px;
  bottom: 7px;
}
#restaurants .restaurants-cont1 .restaurants-text1 > .foods {
  display: flex;
}
#restaurants .restaurants-cont1 .restaurants-text1 > .foods .food1 {
  position: relative;
  background: #edeef2;
  box-sizing: border-box;
  padding: 4px 25px;
  margin-right: 8px;
  margin-top: 1px;
  width: 74px;
  height: 24px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #545563;
}

@media (max-width: 768px) {
  header {
    background: #fff;
    justify-content: space-between;
    display: flex;
    height: 80px;
    box-sizing: border-box;
    padding: 20px 15px;
    border-bottom: 1px solid #edeef2;
  }

  header .navbar1 .input-wrapper {
   display: none;
  }
  header .navbar1 .input-wrapper input {
    display: none;
  }

  header .navbar1 .input-wrapper:after {
  display: none;
  }

  header .navbar2 nav ul {
  display: none;
  }

  header .navbar2 .nav-separate {
    display: block;
  }

  header .navbar2 .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  header .navbar2 .menu-mobile div {
    width: 12px;
    height: 1.5px;
    background-color: #83859C;
    margin: 1px;
    border-radius: 10px;
  }

  #container {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 24px 15px;
    margin-bottom: 6px;
}

  #container > .img-cont1 {
    position: relative;
    width: 330px;
    height: 296px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
   
  }

  #container > .img-cont1 .img1 {
    position: relative;
    height: 50%;
    width: 100%;
  }

  #container > .img-cont1 .img1 img {
    position: absolute;
    top: -96px;
  }

#container .img-cont1 .text1, #container .img-cont2 .text1 {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%; 
}


#container > .img-cont1 .text1 .p-offers > .p2 {
  line-height: 7px;  
}

#container > .img-cont2{
  position: relative;
  width: 330px;
  height: 296px;
  display: flex;
  flex-direction: column-reverse;
}

#container > .img-cont2 .img2 {
  position: relative;
  height: 50%;
  width: 100%;
}

#container > .img-cont2 .img2 img {
  position: absolute;
  top: -150px;
} 

#container > .img-cont2 .text1 .p-offers2 > .p5 {
  line-height: 7px;  
}

  #menu {
    flex-flow: wrap;
    padding: 0px 15px;
    margin-bottom: 6px;
  }
  #menu .menu-food {
    margin-bottom: 15px;
    width: 100px;
  }

  h1 {
    color: #2b2b43;
    font-size: 20px;
    line-height: 28px;
    padding: 0px 15px;
  }

  #restaurants {
    flex-flow: wrap;
    padding: 0px 15px;
  }

  #restaurants .restaurants-cont1 {
    width: 330px;
    margin-bottom: 30px;
  }

  #restaurants .restaurants-cont1 .restaurants-img1 {
    overflow: hidden;
    border-top-right-radius: 15px;
  }

}

